<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        <h1>eRecruiter Social Connector Samples</h1>
        <p>@Html.ActionLink("Log in with XING", "Authorize", "Xing")</p>
        <p>@Html.ActionLink("Log in with LinkedIn", "Authorize", "Linkedin")</p>
    </div>
</body>
</html>
